name: Cross

on:
  push:
    branches:
      - main
    tags:

  pull_request:
    branches:

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  MODE: test
  NODE_ENV: testing

jobs:
  build:
    timeout-minutes: 10

    strategy:
      max-parallel: 2
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        node_version: [18, 19, 20]
        architecture: [x64] #, arm64 ] # arm,

    runs-on: ${{ matrix.os }}
    name: Node ${{ matrix.node_version }} - ${{ matrix.architecture }} on ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v2
        with:
          version: 8.6.6

      - uses: actions/setup-node@v3
        with:
          cache: 'pnpm'
          node-version: ${{ matrix.node_version }}
          architecture: ${{ matrix.architecture }}
          check-latest: true

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: npm run build

      - name: Run tests for ${{runner.os}}
        run: npm run test
